<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Nom: <%= nom %></p>
    <p>prenom: <%= prenom %></p>
    <p>ville: <%= ville %></p>
    <p>email: <%= email %></p>
    <p>message: <%= message %></p>
    <p><a href="/form">Formulaire</a></p>
    <p><a href="/">back</a></p>
  </body>
</html>
